 #body-n{
     font-family: 'Open Sans';
     background-image:linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("../images/background.jpg");
     background-size:cover;
     background-repeat: no-repeat;
     background-attachment: fixed;
     background-position: center;
     padding:0px;
     margin:0px;
     color:white;
 }

 

#sub-body-n{
    width:1100px;
    margin:auto;
    
}







.hr-n{
    border:none;
    border-top:solid lightgrey 0.1em;
    height: 0px;
}

#gallerie-n{
    padding-top:50px;
    padding-bottom:50px;
}



#sub-body-n #main-container-n #gallerie-n #photos-n{
    
    display: flex;

    flex-flow: row wrap;
    height: 1010px;

}



#row-n{
    display: flex;
    flex-direction: row-reverse;
    
}

#col-n{
    margin-left:6px;
}


/*Numéro des photos*/
#un-n {
    width: 730px;
    
    order:1;
}

#deux-n{
    width: 362px;
    height: 240px;
    order:2;
}

#trois-n{
    width: 362px;
    order:2;
    height: 240px;
}

#quatre-n{
    width: 445px;
    order:4;
}

#cinq-n{
    width: 445px;
    order:5;
}

#six-n{
    width: 200px;
    order:6;
}

#sept-n{
    width: 320px;
    order:7;
}

#huit-n{
    width: 320px;
    order:8;
}

#neuf-n{
    width: 141px;
    order:9;
}

#dix-n{
    width: 304px;
    order:10;
}

/*Fin des numéros des photos*/



